/* Styles for the entire app */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex; /* Use flex to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Ensure full viewport height */
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Header styles */
.header {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

/* Block information styles */
.block-info {
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

/* Transaction section styles */
.transactions-section {
  margin-top: 20px;
  overflow-y: auto;
  white-space: nowrap;
  max-height:200px;
}

/* Transaction list styles */
.transactions-list {
  list-style-type: none;
  padding: 0;
}

.sticky-title {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  padding:10px;
  border-bottom: 1px solid #ccc;
}

/* Transaction item styles */
.transaction-item {
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;

}
